@font-face{
    font-family: 'Avenir Book';
    src: url(../fonts/avenir-book.ttf);
    src: url(../fonts/Avenir_Book.eot),
         url(../fonts/Avenir_Book.otf),
         url(../fonts/Avenir_Book.svg),
         url(../fonts/Avenir_Book.woff);
        
}

@font-face{
    font-family: 'Avenir Black';
    src: url(../fonts/Avenir-Black.ttf);
    src: url(../fonts/Avenir_Black.eot),
         url(../fonts/Avenir_Black.otf),
         url(../fonts/Avenir_Black.svg),
         url(../fonts/Avenir_Black.woff);
}

@font-face{
    font-family: 'Avenir Medium';
    src: url(../fonts/Avenir-Medium.ttf);
    src: url(../fonts/Avenir_Medium.eot),
         url(../fonts/Avenir_Medium.otf),
         url(../fonts/Avenir_Medium.svg),
         url(../fonts/Avenir_Medium.woff);
}

@font-face{
    font-family: 'Avenir Heavy';
    src: url(../fonts/avenir-Heavy.ttf);
    src: url(../fonts/Avenir_Heavy.eot),
         url(../fonts/Avenir_Heavy.otf),
         url(../fonts/Avenir_Heavy.svg),
         url(../fonts/Avenir_Heavy.woff);
}
