* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
/* header */
nav {
  width: 16%;
  height: 100%;
  background-color: #222222;
  position: fixed;
  overflow-y: scroll;
}

nav::-webkit-scrollbar {
  display: none;
}

.nav_container {
  width: 80%;
  margin: 0 auto;
}

.nav_logo {
  padding-top: 42px;
  margin-bottom: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_logo{
  display: none;
}
.burgermenu a {
  width: 21px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.navbar {
  margin-bottom: 87px;
  /* height: 365px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_content {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_content:not(:last-child) {
  margin-bottom: 15px;
}

.navbar_content:hover {
  background-color: #ff2288;
}

.navbar_content a {
  margin-left: 15px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Avenir Medium';
}

.following {
  padding-bottom: 106px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.following_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.following_content:not(:last-child) {
  margin-bottom: 15px;
}

.following_content a {
  margin-left: 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Avenir Medium';
}

.following h3 {
  margin-bottom: 31px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Avenir Heavy';
}

.following > a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Avenir Heavy';
}

.search_profile {
  width: 100%;
  padding: 30px 5% 70px 17%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_profile::after{
  content: "";
  height: 1px;
  width: 78%;
  background-color: #111111;
  opacity: 5%;
  bottom: 40px;
  position: absolute;
}
.search {
  width: 446px;
  height: 56px;
  padding: 20px 18px;
  border-radius: 12px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="search"],
textarea {
  width: 200%;
  background-color: #f8f8f8;
  outline: none;
}

input[type="search"],
textarea:focus {
  border: none;
}

::-webkit-input-placeholder {
  color: #111111;
  opacity: 50%;
}

:-ms-input-placeholder {
  color: #111111;
  opacity: 50%;
}

::-ms-input-placeholder {
  color: #111111;
  opacity: 50%;
}

::-moz-placeholder {
  font-size: 14px;
  font-family: 'Avenir Heavy';
  color: #111111;
  opacity: 50%;
}

::placeholder {
  font-size: 14px;
  font-family: 'Avenir Heavy';
  color: #111111;
  opacity: 50%;
}

.profile{
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile a:first-child {
  font-size: 14px;
  font-family: 'Avenir Heavy';
  color: #ff2288;
}

.user_profile{
  width: 56px;
  height: 56px;
  padding: 23%;
  border: 2px solid #E7E7E7;
  border-radius: 28px;
}


.upload {
  width: 129px;
  height: 56px;
  padding: 20px 40px;
  border-radius: 12px;
  background-color: #ff2288;
  cursor: pointer;
}

.upload_svg svg{
  display: none;
}
.profile .upload a {
  color: #ffffff;
  font-size: 14px;
}

.mailbox.active, .notifs.active {
  position: relative;
}

.mailbox.active::after, .notifs.active::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
}

/* main */
main,
footer {
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 25.3%;
  padding-right: 9.3%;
  /* background-color: violet; */
}

.filter_option ul,
.filter_button,
.filter_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_option {
  height: 100%;
}

.filter_bar {
  width: 100%;
  height: 56px;
  margin-bottom: 40px;
}

.filter_bar ul {
  height: 100%;
  text-align: center;
}

.filter_bar li {
  padding-top: 15px;
}

.filter_option ul li {
  margin-right: 25px;
  border-radius: 12px;
}

.filter_option ul li:hover,
.filter_option ul li:active {
  background-color: #f2f2f2;
}

.filter_option ul li:not(:first-child, :nth-child(3)) {
  width: 86px;
  height: 100%;
}

.filter_option ul li:first-child,
.filter_option ul li:nth-child(3) {
  width: 56px;
  height: 100%;
}

.filter_bar a {
  color: #222222;
  font-size: 16px;
  font-family: 'Avenir Book';
}

.filter_button {
  width: 132px;
  height: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_button a {
  color: #222222;
  font-size: 16px;
  font-family: 'Avenir Heavy';
}

.article_sec {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 25px;
}

article img{
  height: 80%;
  border-radius: 25px;
}

article {
  height: 280px;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

article .article-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .article-content img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

article .article_title {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 54px;
}

.article_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.react {
  height: 34px;
  width: 34px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 12px;
  background-color: #ffffff;
}

.article_reacts {
  display: none;
}

article:hover .article_reacts {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.add:hover, .add:active {
  background-color: skyblue;
}

.heart:hover, .heart:active {
  background-color: tomato;
}


.article_title {
  margin-top: 16px;
  text-align: center;
}

.article_title a {
  color: #222222;
  font-size: 18px;
  font-family: 'Avenir Medium';
}

.more_articles {
  width: 290px;
  height: 56px;
  background-color: #f2f2f2;
  margin: 50px auto 70px auto;
  border-radius: 12px;
  text-align: center;
  padding-top: 19px;
}

.more_articles a {
  color: #222222;
  font-size: 16px;
  font-family: 'Avenir Heavy';
}

.cont{
  padding-left: 11%;
  padding-right: 11%;
}
.section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_title h1 {
  font-size: 32px;
  font-family: 'Avenir Heavy';
}

.section_title a {
  color: #222222;
  opacity: 30%;
  font-size: 14px;
  font-family: 'Avenir Heavy';
}

.top_designers{
  height: 500px;
  padding-right: 0%;
  padding-left: 16%;
  margin-bottom: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.designers {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_info {
  width: 10%;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile_info img {
  width: 100%;
}

.profile_info a {
  width: 70%;
  color: #222222;
  font-size: 16px;
  font-family: 'Avenir Medium';
}

.profile_info p {
  font-size: 12px;
  opacity: 60%;
  font-family: 'Avenir Book';
}

.following_bar {
  font-size: 14px;
  font-family: 'Avenir Heavy';
}

.profile_info a,
p {
  text-align: center;
}

.following_bar {
  width: 100%;
  height: 44px;
  padding-top: 12px;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
}

.following_bar:hover,
.following_bar:active {
  background-color: #f2f2f2;
}

.offerings {
  min-height: 500px;
  width: 100%;
  margin-bottom: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offerings ul li {
  margin-bottom: 30px;
}

.offerings li a {
  font-size: 16px;
  font-family: 'Avenir Book';
  color: #222222;
}

.offerings ul{
  width: 30%;
}
.offerings ul:not(:first-child){
  padding-left: 30px;
}
.offerings li:not(:first-child) a:hover{
  font-family: 'Avenir Heavy';
}

.offerings ul li:first-child {
  margin-bottom: 56px;
}

.for_designers li:first-child a, .hire_designers li:first-child a, .company li:first-child a, .directories li:first-child a{
  font-family: 'Avenir Heavy';
}


.more_offerings{
  display: none;
}

/* footer */
.soc_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc_media svg{
  margin-right: 22px;
}

.soc_media svg path:hover{
  fill: #222222;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  margin-bottom: 40px;
}

footer .book{
  font-size: 16px;
  font-family: 'Avenir Book';
}

footer .black{
  font-size: 16px;
  font-family: 'Avenir Black';
}

/* profile page */

/* main */

.profile_page{
  padding-right: 6%;
  padding-left: 23%;
  height: 700px;
  margin-bottom: 130px;
}
.orders{
  width: 100%;
  height: 100%;
}
table{
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
th, tr.highlighted, .last{
  text-align: left;
  vertical-align: middle;
  color: #AFAFAF;
}

th:not(:last-child) {
  padding-right: 150px;
  color: #111111;
}

th{
  font-size: 18px;
  font-family: 'Avenir Heavy';
}
th:last-child{
  padding-right: 100px;
  color: #111111;
}

td {
  display: table-cell;
  font-size: 16px;
  font-size: 'Avenir Heavy';
}
tr.highlighted:hover:not(:first-child), .last:hover{
  background-color: #F2F2F2;
}


tr.highlighted:hover td, .last:hover td{
  color: #222222;
}

tr.highlighted:active td, .last:active td{
  color: #FF2288;
  
}
tr.highlighted:active:hover, .last:active:hover{
  background-color: unset;
}
tr.highlighted, .last{
  height: 72px;
}

tr.highlighted td:first-child, th:first-child, .last td:first-child{
  padding-left: 30px;
}


tr.highlighted td{
  position: relative;
}

tr.highlighted td::after{
  content: '';
  position: absolute;
  left: 30px;
  bottom: -6px;
  height: 1px;
  width: 100%;
  background-color: #E7E7E7;
 }

tr.highlighted td:last-child::after{
  content: '';
  position: absolute;
  left: 30px;
  bottom: -6px;
  height: 1px;
  width: 60%;
  background-color: #E7E7E7;
}

tr.highlighted th{
  position: relative;
}

tr.highlighted th::after{
  content: '';
  position: absolute;
  left: 30px;
  bottom: -6px;
  height: 1px;
  width: 100%;
  background-color: #E7E7E7;
 }

tr:hover td:first-child{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

tr:hover td:last-child{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

tr.highlighted th:last-child::after{
  content: '';
  position: absolute;
  left: 30px;
  bottom: -6px;
  height: 1px;
  width: 60%;
  background-color:#E7E7E7;
}
.spacer{
  height: 11px;
  width: 100%;
  background-color: transparent;
}

.order_box{
  height: 100%;
  display: none;
}
.orders_flex{
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 10px 400px;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;
  grid-row-gap: 20px;
}
.order_info{
  width: 90%;
  height: 100%;
  border: 2px solid #222222;
  border-radius: 14px;
  -webkit-box-shadow: 4px 4px 10px rgb(255, 34, 136, 0.7);
          box-shadow: 4px 4px 10px rgb(255, 34, 136, 0.7);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order_info div:not(:last-child){
  border-bottom: 2px solid #E7E7E7;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more_orders{
  width: 100%;
}

/* responsive */
@media screen and (max-width: 1600px) {
  .article_sec {
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1180px) {
  .article_sec {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .article_sec {
    grid-gap: 20px 25px;
  }
}


@media only screen and (max-width: 1505px){
  nav{
    width: 20%;
  }
  .search_profile{
    padding-left: 22%;
    padding-right: 3%;
  }

  .cont{
    padding-right: 5%;
    padding-left: 10%;
  }

  th:nth-child(2), th:nth-child(4), th:nth-child(5){
    padding-right: 80px;
  }

  .profile_page{
    padding-left: 21%;
  }
}

@media only screen and (max-width: 1250px){
  nav{
    width: 22%;
  }
  .search_profile{
    padding-left: 24%;
    padding-right: 2%;
  }

  .container{
    padding-right: 5%;
  }

  .search{
    width: 400px;
  }

  .profile_page{
    display: none;
  }

  .order_box{
    display: block;
    padding-left: 28%;
  }
}

@media only screen and (max-width: 1112px){
    .filter_button a:nth-child(2){
      display: none;
    }

    .filter_button{
      min-width: 58px;
    }

    .filter_option li:nth-child(7){
      display: none;
    }

    nav{
      width: 25%;
    }

    .container{
      max-width: 1100px;
      padding-right: 3%;
      padding-left: 30%;
    }

    .search_profile{
      padding-left: 30%;
      padding-right: 2%;
    }


    .profile{
      width: 300px;
    }

    .profile a:nth-child(2){
      margin-left: 15px;
    }
    .search{
      width: 300px;
    }

    input[type="search"],textarea {
      width: 130%;
    }
    
    .upload{
      position: relative;
      width: 56px;
      height: 80px;
      border-radius: 50%;
      -webkit-transform: scale(0.70005);
          -ms-transform: scale(0.70005);
              transform: scale(0.70005);
    }
    
    .upload a:first-child{
      display: none;
    }
  
    .upload_svg{
      width: 100%;
      height: 100%;
    }
    .upload_svg svg{
      display: block;
      width: 40px;
      height: 40px;
      fill: white;
      -webkit-transform: scale(1.25);
          -ms-transform: scale(1.25);
              transform: scale(1.25);
      position: absolute;
      left: 25%;
      top: 25%;
    }

    .cont{
      padding: unset;
    }
    .orders_flex{
      -ms-grid-columns: 300px 20px 300px;
      grid-template-columns: 300px 300px;
      grid-gap: 20px;
    }

    .order_box{
      padding-right: 15%;
      padding-left: 35%;
    }
    .order_info{
      width: 100%;
    }
}

@media only screen and (max-width: 992px){
  nav{
    width: 30%;
  }

  .profile a:first-child{
    display: none;
  }

  .search_profile{
    padding-left: 35%;
  }
  .search{
    width: 250px;
  }
  .container{
    max-width: 1000px;
    padding-left: 35%;
  }

  input[type="search"],textarea {
    width: 100%;
  }
  .filter_option li:nth-child(6), .filter_option li:nth-child(5){
    display: none;
  }

  .profile_info{
      width: 20%;
   }

  .designers .profile_info.profile_info:nth-child(2n){
       display: none;
  }

  .offerings ul:last-child{
      display: none;
  }

  .offerings ul{
    width: 30%;
  }

  .offerings{
      width: 100%;
      margin-bottom: 50px;
  }

  .more_offerings{
      display: block;
      margin-top: unset;
  }

  .orders_flex{
    -ms-grid-columns: 450px;
    grid-template-columns: 450px;
  }

  .order_box{
    padding-left: 40%;
  }
}

@media only screen and (max-width: 896px){
  .article_sec {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}

  article:nth-child(2n){
    display: none;
  }

  article{
      width: 80%;
      height: 300px;
  }

  .order_info{
    width: 80%;
  }
  .order_box{
    padding-left: 45%;
  }
}


@media only screen and (max-width: 784px){
    nav{
      width: 34%;
    }

    .search_profile{
      padding-right: .07%;
    }
    .designers .profile_info.profile_info:nth-child(7){
      display: none;
   }
   
   .designers, .offerings, .footer, .section_title{
     -ms-flex-pack: distribute;
         justify-content: space-around;
   }

   .offerings ul:nth-child(3){
    display: none;
  }

  /* .offerings ul{
    width: 40%;
  } */
    .order_box{
      padding-left: 40%;
    }
    .order_info{
      width: 75%;
    }
}

@media only screen and (max-width: 684px){
  .navbar, .following{
    display: none;
  }

  nav{
    height: 80px;
    z-index: 3;
  }

  .nav_container{
    margin: unset;
    width: 100%;
  }
  .search_profile{
    height: 80px;
    padding-top: unset;
    padding-bottom: unset;
    position: fixed;
    z-index: 2 ;
    background-color: #222222;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav_logo{
    padding-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .mailbox svg path, .notifs svg path, .user_profile svg path{
    fill: white;
  }
  
  main{
    padding-top: 100px;
  }

  .container{
    padding-left: 3%;
  }

  .search{
    width: 60px;
    background-color: transparent;
  }

  .search svg path{
    fill: white;
  }
  input[type="search"],textarea{
    display: none;
  }

  .order_info{
    width: 100%;
  }

  .order_box{
    padding-left: 15%;
  }
}

@media only screen and (max-width: 576px){
  .nav_logo img{
    display: none;
  }

  nav{
    width: 40px;
    height: 80px;
    padding-top: 15px;
  }

  .search_profile{
    padding-left: 15%;
    height: 80px;
  }
  .search{
    width: 150px;
    background-color: #f8f8f8;
  }

  .search svg path{
    fill: black;
  }
  input[type="search"],textarea{
    display: block;
  }

  .filter_option li:nth-child(3){
    display: none;
  }
  .order_box{
    padding-left: 10%;
  }

  .order_info{
    width: 90%;
  }
}


@media only screen and (max-width: 555px){
  .order_info{
    width: 75%;
  }

  .order_box{
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (max-width: 476px){
  .order_box{
    padding-right: 6%;
  }

  .order_info{
    width: 70%;
  }

}

@media only screen and (max-width: 408px){
  input[type="search"],textarea{
    display: none;
  }

  .search{
    width: 50px;
    padding: unset;
    background-color: transparent;
  }

  .search svg path{
    fill: white;
  }
  .search svg {
    margin-right: 10px;
  }

  .filter_option ul li{
    margin-right: 10px;
  }

  .filter_button{
    width: 80px;
  }

  .order_box{
    
    padding-left: 10%;
  }

  .order_info div{
    height: 80px;
  }
  .order_info{
    width: 65%;
  }
}

@media only screen and (max-width: 380px){
  .order_info{
    width: 55%;
  }
}